<h2>Mutiple banner
</h2>
{{ 'mutiple-banner.css' | asset_url | stylesheet_tag }}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'type_banner' %}

    <div class="mutiple-banner-container">
      <div class="mutiple-banner-sub">
        <div class="mutiple-banner-content">
          {%#  
           <h1>{{ block.settings.subtitle1 }}</h1> %}
          <button>
            {{ block.settings.title1 }}
          </button>
        </div>
        <div class="mutiple-banner-image">
          <img src="{{ block.settings.image_choose1 |image_url: width: 450 }}">
        </div>
      </div>
    </div>

  {% endcase %}
{% endfor %}

{% schema %}
  {
    "name": "Mutiple Banner",
    "blocks": [
      {
        "type": "type_banner",
        "name": "Add mutiple banner ...",
        "settings": [
          {
            "type": "text",
            "id": "title1",
            "label": "Title 1"
          }, {
            "type": "textarea",
            "id": "subtitle1",
            "label": "Note text 1"
          }, {
            "type": "image_picker",
            "id": "image_choose1",
            "label": "image picker 1"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Test Mutiple Banner",
        "blocks": [
          {
            "type": "type_banner"
          }
        ]
      }
    ]
  }
{% endschema %}