{{ 'test-slick-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'test-slick-slider.js' | asset_url }}" defer="defer"></script>
<div class="container special-container">
      <div class="sliders show-slider ">
        <div class="referans active-slider">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'type_slider' %}
              <div class="show-item">
                <img src="{{ block.settings.image_choose |image_url }}" />
              </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mutiple Slider",
    "blocks": [
      {
        "type": "type_slider",
        "name": "Add mutiple slider ...",
        "settings": [
          {
            "type": "text",
            "id": "title1",
            "label": "Title 1"
          }, {
            "type": "textarea",
            "id": "subtitle1",
            "label": "Note text 1"
          }, {
            "type": "image_picker",
            "id": "image_choose",
            "label": "image picker 1"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Test Show Slider aaaaaaaaaaaaa",
        "blocks": [
          {
            "type": "type_slider"
          }
        ]
      }
    ]
  }
{% endschema %}