<div>Freequently Asked Question</div>
{{ 'style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'test-qa.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">

  <button class="accordion">Question 1</button>
  <div class="accordion-content">
    <p>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "text" %}
          {{ block.settings.title }}
        {% endcase %}
      {% endfor %}
    </p><br>
  </div>
</div>
<button class="btn-contact-qa">Contact</button>


{% schema %}
  {
    "name": "Test asked question",
    "blocks": [
      {
        "type": "text",
        "name": "Add functions..",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Note text"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Test asked question",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}