<div>Freequently Asked Question</div>
{{ 'style.css' | asset_url | stylesheet_tag }}
{% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
      <p>
        {{ block.settings.title }}</p>
    {% endcase %}
  {% endfor %}

<ul class="question-qa">
  <li class="quest-asked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui iure fugit pariatur corporis? Obcaecati ipsa modi, eligendi perferendis unde quam, dolor ut optio impedit reiciendis accusantium voluptate minus natus aspernatur!
    <p class="btn-open-close" onclick="btnOpen()">OC</p>
    <li class="quest-anser" style="display:none">
        <p>Consequuntur, alias totam. Nesciunt quam, accusantium obcaecati dicta consequatur quas porro voluptates nostrum corrupti officia, doloribus veritatis explicabo molestias ex magnam maxime!</p>
    </li>
  </li>
  <li class="quest-asked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui iure fugit pariatur corporis? Obcaecati ipsa modi, eligendi perferendis unde quam, dolor ut optio impedit reiciendis accusantium voluptate minus natus aspernatur!
    <p class="btn-open-close" onclick="btnOpen()">OC</p>
    <li class="quest-anser" style="display:none">
        <p>Consequuntur, alias totam. Nesciunt quam, accusantium obcaecati dicta consequatur quas porro voluptates nostrum corrupti officia, doloribus veritatis explicabo molestias ex magnam maxime!</p>
    </li>
  </li>
  <li class="quest-asked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui iure fugit pariatur corporis? Obcaecati ipsa modi, eligendi perferendis unde quam, dolor ut optio impedit reiciendis accusantium voluptate minus natus aspernatur!
    <p class="btn-open-close" onclick="btnOpen()">OC</p>
    <li class="quest-anser" style="display:none">
        <p>Consequuntur, alias totam. Nesciunt quam, accusantium obcaecati dicta consequatur quas porro voluptates nostrum corrupti officia, doloribus veritatis explicabo molestias ex magnam maxime!</p>
    </li>
  </li>
  <li class="quest-asked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui iure fugit pariatur corporis? Obcaecati ipsa modi, eligendi perferendis unde quam, dolor ut optio impedit reiciendis accusantium voluptate minus natus aspernatur!
    <p class="btn-open-close" onclick="btnOpen()">OC</p>
    <li class="quest-anser" style="display:none">
        <p>Consequuntur, alias totam. Nesciunt quam, accusantium obcaecati dicta consequatur quas porro voluptates nostrum corrupti officia, doloribus veritatis explicabo molestias ex magnam maxime!</p>
    </li>
  </li>
  <li class="quest-asked">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui iure fugit pariatur corporis? Obcaecati ipsa modi, eligendi perferendis unde quam, dolor ut optio impedit reiciendis accusantium voluptate minus natus aspernatur!
    <p class="btn-open-close" onclick="btnOpen()">OC</p>
    <li class="quest-anser" style="display:none">
        {% for block in section.blocks %}
            {% case block.type %}
              {% when 'text' %}
              <p>
                {{ block.settings.title }}</p>
            {% endcase %}
          {% endfor %}
    </li>
  </li>
</ul>

<button class="btn-contact-qa">Contact</button>

{% schema %}
  {
    "name": "Test asked question",
    "blocks": [
      {
        "type": "text",
        "name": "Add functions..",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Note text"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Test asked question",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}