<div>Freequently Asked Question</div>
{{ 'test-qa.css' | asset_url | stylesheet_tag }}
<script src="{{ 'test-qa.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">

  {% for block in section.blocks %}
    {% case block.type %}
      {% when "text" %}
      <button class="accordion">{{ block.settings.question }}
      </button>
      <div class="accordion-content">
        <li class="show-anser">
          {{ block.settings.title }}
        </li><br>
      </div>
    {% endcase %}
  {% endfor %}
</div>
<button class="btn-contact-qa">Contact</button>

{% schema %}
  {
    "name": "Test asked question",
    "blocks": [
      {
        "type": "text",
        "name": "Add functions..",
        "settings": [
          {
            "type": "textarea",
            "id": "question",
            "label": "Question"
          }, {
            "type": "textarea",
            "id": "questtion",
            "label": "Ansewer"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Test asked question",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}