.img-hero-banner {
    max-width: 100%;
}

/* css for hero banner.liquid  */
.img-desktop {
    display: block;
}

.img-mobile {
    display: block;
}

.banner-content {
    justify-content: space-between;
    text-align: center;
    z-index: 30;
    position: absolute;
    /* vertical-align: middle; */
    margin-top: 140px;
}

.banner-container {
    font-size: 30px;
    margin-left: 500px;
    margin-top: 150px;
}
.banner-content a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
}

.banner-content h1 {
    font-size: 32px;
}
.banner-content,
.banner-content h1,
.banner-content a  {
    font-weight: bold;
    color: #fff;
    }
.banner-img {
    position: relative;
    z-index: 20;
}

/* css for mobile in hero banner */
@media screen and (max-width: 768px) {
    
    .img-mobile {
     display: block;
    }
    .img-desktop {
        display: block;
    }

    .banner-container {
        font-size: 12px;
    }
    .banner-content h1 {
        font-size: 15px;
    }
    
    .banner-content a {
        border: 1px solid #ccc;
    }
    .banner-container {
        margin-left: 200px;
        margin-top: -130px;
    }
}