.mutiple-banner-container{
    display: flex;
    flex-wrap: row nowrap;
    align-items: baseline;
}

/* .mutiple-banner-image {
    height: 300px;
} */
.col-2 {
    width: calc(100%/2);
    display: inline-block;
}
.col-4{
    width: calc(100%/4) ;
    display: inline-block;
}

.mutiple-banner-sub .mutiple-banner-content{
    z-index: 20;
    position: absolute;
    text-align: center;
}

.mutiple-banner-content button{
     background-color: #fff;
    color: #000;
    width: 200px;
    padding: 2px 15px;
    border: 1px solid #ccc;
    text-align: center;
    height: 60px;
    margin-top: 200px;
    line-height: 60px;
    margin-left: 30px;
    cursor: pointer;
}
.mutiple-banner-content button:hover {
    opacity: 0.8;
}

.mutiple-banner-sub .mutiple-banner-image{
    z-index: 10;
    /* position: relative; */
}

/* css for mobile  */
@media screen and (min-width: 750px) {
    .mutiple-banner-container{

    }
}