h2.banner__heading{
    color: rgb(147, 209, 168);
}

/* css for asked question */
.btn-contact-qa{
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.question-qa {
    padding: 10px 0;
}
.question-qa li {
    border:  1px solid #ccc;
    line-height: 30px;
    list-style-type: none;
}

.btn-open-close {
    padding: 5px;
    max-width: 8px;
    max-height: 8px;
    border: 1px solid #ccc;
    background-color: #423d3d;
    color: #fff;
    display: inline;
}
.btn-open-close:hover .quest-anser {
    cursor: pointer;
    display: inline-block;
}

li.quest-anser {
    margin-left: 20px;
    display: inline-block;
}