
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.special-container{
	width: 100%;
    padding: 0;
}

.container {
		color: #fff;
}
.show-content {
	position: absolute;
	z-index: 20;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 120px;
	font-size: 20px;
	font-weight: bold;
}

.show-content a,
.show-content h1 {
	color: #fff;
}
.show-content a {
	text-decoration: none;
	padding: 20px;
	border: 1px solid #fff;
}
/*create dot to run slide*/
.slick-dots li.slick-active button:before{
	color: #fff !important;
	opacity: 1 !important;
	content: "\f10c";
	font-size: 20px;
	font-family: FontAwesome;	
}

.slick-dots li button:before{
	content: "\f111";
	font-family: FontAwesome;
	font-size: 18px;
	color: #fff;
	opacity: 1 !important;
}

.active-title a{
	color: #e10000;
}

.active-title:before{
    -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    content: '';
    right: -25px;
    opacity: 1;
    top: 5px;
    z-index: 9;	
}

.show-slider{
	margin-bottom: 0px !important;
	position: relative;
}

.show-item{
	position: relative;
	z-index: 10;

}

.show-item img {
	width: 100%;
}
.show-slider .slick-dots{
	z-index: 9;
	width: initial;
	left: 0;
	right: 0;
	bottom: 15px;
}

.slide-here{
	transition: all .3s ease;
}
.max-slide{
	color: #e10000;
	font-size: 18px;
	font-weight: 600
}

.show-slider .slick-dots li{
	margin: 0;
	width: 17px;
}

.show-slider .slick-dots li button:before{
	font-size: 15px;
}

.show-slider .slick-dots li.slick-active button:before{
	font-size: 11px;
}

.referanslarimiz{
	margin-top: 45px;
	margin-bottom: 30px;
}
.referans{
	display: none;
}

.active-slider{
    display: block !important;
}

/* css for mobile  */

/* css for mobile in hero banner */
@media screen and (max-width: 768px) {
    
    .img-mobile {
     display: block !important;
    }
    .img-desktop {
        display: block;
    }

	.show-content {
		margin-top: 50px;
		font-size: 13px;
	}

}