.lists-feature-product {
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 10px;
}
.item-feature-product {
    /* width: calc(100%/4); */
    text-align: center;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
}